<div class="min-h-screen bg-gray-50 flex flex-col justify-center py-12 sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
      Sign in to your account
    </h2>
  </div>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
      <%= tag.div(flash[:alert], class: "text-red-600 mb-4") if flash[:alert] %>
      <%= tag.div(flash[:notice], class: "text-green-600 mb-4") if flash[:notice] %>

      <%= form_with url: session_path, class: "space-y-6" do |form| %>
        <div>
          <%= form.label :email_address, class: "form-label" %>
          <div class="mt-1">
            <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address], class: "form-input" %>
          </div>
        </div>

        <div>
          <%= form.label :password, class: "form-label" %>
          <div class="mt-1">
            <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72, class: "form-input" %>
          </div>
        </div>

        <%= form.submit "Sign in", class: "form-submit-button w-full" %>
      <% end %>

      <div class="mt-6">
        <div class="relative">
          <div class="absolute flex items-center">
            <div class="w-full border-t border-gray-300"></div>
          </div>
          <div class="relative flex justify-center text-sm">
            <span class="px-2 bg-white text-gray-500">
              <%= link_to "Forgot password?", new_password_path, class: "form-link" %>
              <span class="px-2">|</span>
              <%= link_to "Sign up", new_registration_path, class: "form-link" %>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
